# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
.python-version

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Data and media files (these will be mounted as volumes)
books/*
!books/.gitkeep
data/*
!data/.gitkeep

# Docker
Dockerfile
docker-compose.yml
.dockerignore 